syntax: glob
# generic
*.pyc
*.swp
*.swo
.DS_Store
covid.egg-info/*
sandbox/*
dist

# other
pip-requirements-local.txt
migrate/*
build/*
tmp/*
solr_runtime/*
fl_notes.txt
!ckan/migration/alembic.ini
.noseids
*~
.idea
.vscode

# nosetest coverage output
.coverage
htmlcov/*

# node.js
node_modules/

# docker
contrib/docker/.env

data/*

time_series_19-covid-Confirmed.csv
time_series_19-covid-Deaths.csv
time_series_19-covid-Recovered.csv

__pycache__


